.bg-color{
    background-color: #999d9e;
}
.text-size{
font-size: 240px;
position: relative;
bottom: 800px;
}
.pro-pic{
width: 55%;
}
.loc{
    background-color: black;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    position: relative;
    bottom: 600px;
    width: 300px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}
.earth{
    width: 6%;
    position: relative;
    bottom: 705px;
    left: 190px;
}
.icon{
    position: relative;
    bottom: 900px;
    left: 1200px;
    font-size: 40px;
    color: white;
}
.web{
    color: white;
    font-size: 50px;
    position: relative;
    bottom: 840px;
    left: 1200px;
}
@media screen and (max-width:640px) {
    .text-size{
        bottom: 395px;
        font-size: 80px;
        z-index: 10;
    }
    .pro-pic{
        width: 600px;
    }
    .icon{
        bottom: 200px;
        left: 10px;
        font-size: 25px;
    
    }
    .web{
        bottom: 195px;
        left: 10px;
        width: 50px;
        font-size: 30px;
        line-height: 30px;
    }
    .loc{
        font-size: 10px;
        padding: 8px;
        width: 120px;
        bottom: 350px;
       
    }
    .earth{
        bottom: 400px;
        left: 70px;
        width: 10%;
    }
    
}